name: Daily Update Check by External Trigger

on:
  repository_dispatch:
    types: [daily-update]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Main Script
        env:
          AOAI_ENDPOINT: ${{ secrets.AOAI_ENDPOINT }}
          # AOAI_KEY: ${{ secrets.AOAI_KEY }}
          DEPLOYMENT: ${{ secrets.DEPLOYMENT }}
          API_VER: ${{ secrets.API_VER }}
          CHECK_HOURS: ${{ secrets.CHECK_HOURS }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
        run: |
          # python getlatestupdate.py --details
          # python getlatestupdate_en.py --details
          python getlatestupdate_mid.py --details
          python getlatestupdate_en_mid.py --details
          python generate_readme.py updates
          python generate_readme_en.py updates_en

      - name: Commit and Push
        run: |
          git config user.name "Takashi Okawa BOT"
          git config user.email "automate@okawa.work"
          git add .
          git commit -m "Daily Azure Updates Commit."
          git pull
          git push origin main
